$grey: #fafafa

h1, h2, h3, h4
  text-align: center

.catalog-element
  &:hover
    background-color: $grey
    cursor: pointer

  h4:last-child
    margin-bottom: 20px

.list-heading
  margin-bottom: 20px

//.shop-heading
//  text-align: center
//


